{% extends "base.html" %}

{% block content %}
  <h2 class="header mb-3">Confirm your Geek.Zone membership payment</h2>

  <p class="mb-2">Your membership will cost £{{total}} a year</p>

  <p class="mb-3">
    {% if donation %}
    This is made up of a £1 membership charge and a £{{donation}} donation
    {% else %}
    This is made up of a £1 membership charge with no donation
    {% endif %}
  </p>

  <button class="btn mb-3" id="checkout-button">Setup your Direct Debit</button>

  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    const stripe = Stripe('{{stripe_public_key}}');

    const checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', () => {
      stripe.redirectToCheckout({
        sessionId: '{{stripe_session_id}}'
      }).then(console.log);
    });
  </script>
{% endblock %}
