{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <section class="register-login">
    <h2 class="mb-3 header">Member Login</h2>

    <form action="/memberships/login/" method="POST">
      {% csrf_token %}

      <div class="ml-4 text-sm">
        {% for field in form %}
        <div class="mb-2 last:mb-3">
          {{ field.errors }}

          <div class="flex items-center">
            {{ field | add_label_class:"mr-2"}}

            {{ field | add_class:"border-input" | add_required_class:"input-required" | add_error_class:"border-red-500" }}

            {% if field.help_text %}
            <div class="help-icon w-full relative ml-1 flex items-center cursor-pointer" onclick="toggleHelpText('{{ field.name }}')">
              <div>&#9432;</div>
              <div class="{{ field.name }}-help-text absolute left-4 flex items-center z-10 invisible">
                <div class="relative -right-px text-gray-600">&#9668;</div>
                <div class="relative -left-px py-2 px-3 rounded bg-gray-600 text-gray-200 text-xs">{{ field.help_text | safe }}</div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>

      <input class="btn mb-3" type="submit" value="Login"/>
    </form>

    <p class="mb-3">Not joined yet? <a class="link" href="{% url 'register' %}">Join now!</a></p>
  </section>
{% endblock %}
