{% extends "base.html" %}

{% block content %}

      <section class="register_login">
      <div>
      <h2 class="login_title">Member Login</h2>


      <form class="login_form"action="/memberships/login/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
      <div class="loginButton">
        <input class="button" type="submit" value="Login"/>
      </div>

      </form>

      <p class="notRegistered">Not joined yet? <a href="{% url 'register' %}">Join now!</a></p>
      </div>
      </section>

{% endblock %}
