{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <section class="register-login flex flex-col items-center">
    <h2 class="text-2xl font-semibold mt-7 mb-5">Member Login</h2>

    <form class="flex flex-col items-center max-w-sm w-full" action="/memberships/login/" method="POST">
      {% csrf_token %}

      {% for field in form %}
        {{ field.errors }}
      {% endfor %}

      <div class="mb-5 w-full text-sm -space-y-px">
        <div class="">
          {{ form.username | add_label_class:"sr-only"}}
          {% render_field form.username class+="p-2 w-full bg-gray-100 text-gray-800 border border-gray-400 rounded-t-md appearance-none" placeholder="Username" %}
        </div>

        <div class="">
          {{ form.password | add_label_class:"sr-only"}}
          {% render_field form.password class+="p-2 w-full bg-gray-100 text-gray-800 border border-gray-400 rounded-b-md appearance-none" placeholder="Password" %}
        </div>
      </div>

      <input class="btn mb-5 w-full" type="submit" value="Log in"/>

      <p class="mb-3">Not joined yet? <a class="link" href="{% url 'register' %}">Join now!</a></p>
    </form>
  </section>
{% endblock %}
