{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <h2 class="header mb-3">Member Settings</h2>
  
  <form action="{% url 'memberships_settings' %}" method="POST">
    {% csrf_token %}

    <div class="ml-4 text-sm">
      {% for field in form %}
      <div class="mb-2 last:mb-3">
        {{ field.errors }}

        <div class="flex items-center">
          {{ field | add_label_class:"mr-2"}}

          {{ field | add_class:"border-input bg-gray-100 text-gray-800" | add_required_class:"input-required" | add_error_class:"border-red-500" }}

          {% if field.field.required %} <span class="ml-1 text-red-500">*</span> {% endif %}

          {% if field.help_text %}
          <div class="help-icon relative ml-1 flex items-center pointer-events-none" onclick="toggleHelpText('{{ field.name }}')">
            <div class="pointer-events-auto cursor-pointer">&#9432;</div>
            <div class="{{ field.name }}-help-text w-max absolute left-4 z-10 flex items-center opacity-0">
              <div class="relative -right-px text-gray-600">&#9668;</div>
              <div class="relative -left-px py-2 px-3 rounded bg-gray-600 text-gray-200 text-xs">{{ field.help_text | safe }}</div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  
    <input class="btn mb-3" type="submit" value="Save">
  </form>
{% endblock %}