{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  <h2 class="header mb-3">Member Details</h2>

  <form class="no-input" action="{% url 'memberships_details' %}" method="POST">
    {% csrf_token %}


    <div class="grid sm:grid-cols-2 gap-2 justify-start justify-items-start items-center mb-3 w-max text-sm">
      <div class="col-span-full">Selfie: {{ profile_image }}</div>

      {% for field in form %}
        {{ field | add_label_class:"mr-2"}}

        <div class="w-auto font-bold bg-transparent outline-none">
          {% if field.widget_type == "checkbox" %}
            {% if field.value %}Yes{% else %}No{% endif %}
          {% else %}
            {% render_field field.value %}
          {% endif %}
        </div>
      {% endfor %}
    </div>

  </form>

  <button class="btn mb-3" onclick="window.location.href='{% url 'memberships_settings' %}'">Edit</button>
{% endblock %}
