{% extends "base.html" %}

{% block content %}
<section class="">
  <div>
    <h2 class="mb-main header">Member Registration</h2>

    {% if recaptcha_enabled %}
    <script>
    /*Execute recaptchaV3 function*/
    grecaptcha.ready(function() {
      grecaptcha.execute("{{ recaptcha_site_key }}", {action: "/register/"}).then(function(token) {
        document.getElementById('recaptchaV3-response').value = token;
      });
    });
    </script>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p class="mb-main">
      Will you complete this quest to achieve geeky greatness?
      Epic adventurers use a <a class="link" href="http://example.com">password manager</a>!
    </p>

    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}

      {% for field in form %}
      <div class="mb-2 ml-4 text-sm">
        {{ field.errors }}

        <div class="flex items-center">
          <label class="mr-2" for="{{ field.id_for_label }}">{{ field.label }}:</label>
          {{ field }}
        </div>

        {% if field.help_text %}
        <div class="mb-2"></div>
        <p class="text-xs">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}

      <p class="mt-1 mb-main">
        In the future you would put your payment here, and how much you wanted to
        donate per membership term.
      </p>

      {% if recaptcha_enabled %}
      <input type="hidden" id="recaptcha-v3-response" name="recaptcha-v3-response">
      {% endif %}

      <input class="mb-main btn" type="submit" value="Register"/>
    </form>

    <p class="mb-main">Already a member? <a class="link" href="{% url 'memberships_login' %}">Login!</a></p>
  </div>
</section>
{% endblock %}
