Hi {{user}}!

I'm James & I am one of the Trustees here at Geek.Zone. I want to thank you for joining Geek.Zone! You have just become part of a fantastic geeky community where you will learn interesting skills, create amazing stuff and, most importantly, make new nerdy friends! Remember that our community needs you, so, if you are able, please donate to support us.

Take a look at our events to find out about what's going on in your area as well as online. There's something happening every week! If you have any questions, comments or ideas, please do not hesitate to let me know. For now though, thanks again for joining!

See you soon!

James & everyone at Geek.Zone
