asgiref~=3.3
beautifulsoup4==4.9.3
certifi==2022.12.7
chardet==4.0.0
Django~=3.2
django-environ==0.4.5
django-extensions==3.1.1
django-livereload-server~=0.3
django-probes~=1.6
django-tailwind~=3.3.0
django-widget-tweaks~=1.4
idna==2.10
Pillow==9.3.0
psycopg2-binary==2.9.3
pytz==2021.1
requests==2.25.1
six==1.16.0
soupsieve~=2.2
sqlparse==0.4.2
stripe==2.56.0
tornado==6.1
urllib3>=1.26.5
celery==5.2.2
django-clacks>=0.1.0
cookiecutter>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
