asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Django==3.1.12
django-environ==0.4.5
django-extensions==3.1.1
django-livereload-server==0.3.2
django-probes==1.6.0
django-tailwind==2.0.0
django-widget-tweaks==1.4.8
idna==2.10
Pillow==8.1.2
psycopg2==2.8.6
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
stripe==2.56.0
tornado==6.1
urllib3==1.26.4
celery==5.0.5
