{% load widget_tweaks %}

{% if not target %}
<div class="ml-2">
{% endif %}
  <div class="relative flex justify-center items-center ml-2 opacity-0 pointer-events-none">
    <div class="absolute {% if target %}bottom-4{% else %}bottom-1{% endif %} -left-5 py-2 px-3 max-w-2xs sm:max-w-sm w-max bg-gray-600 text-gray-200 text-xs rounded shadow transform">
      {{ field.help_text | safe }}
    </div>
    <svg class="absolute {% if target %}bottom-1.5 left-0{% else %}-bottom-1.5 -left-1 sm:-left-1.5{% endif %} h-3" viewBox="0 0 2 2">
      <polygon class="fill-current text-gray-600" points="0,0 1,1 2,0"/>
    </svg>
  </div>
{% if target %}
  {{ target | attr:"onfocus:showHelpText(this.previousElementSibling)" | attr:"onblur:hideHelpText(this.previousElementSibling)" }}
{% else %}
  <div class="text-2xl sm:text-lg -my-1.5 cursor-pointer" onmouseover="showHelpText(this.previousElementSibling)" onmouseout="hideHelpText(this.previousElementSibling)">&#9432;</div>
</div>
{% endif %}
