{% load widget_tweaks %}

{% if field.help_text %}
{% if element == "infobox" %}
<div class="ml-2">
{% endif %}
  <div class="help-text relative flex justify-center items-center ml-2 opacity-0 pointer-events-none">
    <div class="absolute bottom-1 -left-5 py-2 px-3 max-w-2xs sm:max-w-sm w-max bg-gray-600 text-gray-200 text-xs rounded shadow transform">
      {{ field.help_text | safe }}
    </div>
    <svg class="absolute -bottom-1.5 -left-1 sm:-left-1.5 h-3" viewBox="0 0 2 2">
      <polygon class="fill-current text-gray-600" points="0,0 1,1 2,0"/>
    </svg>
  </div>
{% if element == "infobox" %}
  <div class="text-2xl sm:text-lg -my-1.5 cursor-pointer"">&#9432;</div>
</div>
{% else %}
{{ element }}
{% endif %}

{% if showon == "focus" %}
<script>
  for (let helpText of document.getElementsByClassName("help-text")) {
    helpText.nextElementSibling.addEventListener("focus", () => showHelpText(helpText));
    helpText.nextElementSibling.addEventListener("blur", () => hideHelpText(helpText));
  }
</script>
{% else %}
<script>
  for (let helpText of document.getElementsByClassName("help-text")) {
    helpText.nextElementSibling.addEventListener("mouseover", () => showHelpText(helpText));
    helpText.nextElementSibling.addEventListener("mouseout", () => hideHelpText(helpText));
  }
</script>
{% endif %}

{% endif %}
