<!DOCTYPE html>
{% load static %}
<html class="no-js min-h-screen" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Geek.Zone Membership Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body class="min-h-screen flex flex-col items-stretch font-sans bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-400" onload="checkDarkMode()">
    <script type="text/javascript" src="{% static 'memberships/js/main.js' %}"></script>

    {% if recaptcha_enabled %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LfGd9oZAAAAAEx2_gzbS1cR8X0_IEmPNFG8A9eN"></script>
    {% endif %}
    <div class="sticky top-0 bg-yellow-300 dark:bg-gray-900 text-gray-900 dark:text-yellow-300">
      <header class="max-w-screen-lg mx-auto py-3 px-4 flex justify-between items-center">
        <div class="pr-4 text-3xl font-semibold"><a href="/" title="Home">Geek.Zone</a></div>

        <nav>
          <ul class="flex items-center">
            {% if user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'memberships_details' %}">Membership Details</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'memberships_logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'memberships_login' %}">Login</a>
            </li>
            {% endif %}

            <li>
              <a class="nav-link" href="https://geek.zone/tiki-searchindex.php" target="_blank">Wiki</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>

    <main class="w-full max-w-screen-lg flex-grow mx-auto pt-4 px-4 pb-1">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="w-full max-w-screen-lg mx-auto py-3 px-4 flex justify-between items-end">
      <h3><span class="inline-block" style="transform: rotateY(180deg)">&copy;</span> Geek.Zone</h3>
      <div><button class="btn" onclick="toggleDarkMode()">Toggle Dark Mode</button></div>
    </footer>
  </body>
</html>
