<!DOCTYPE html>
{% load static %}
{% load cookiebanner %}
<html class="no-js min-h-screen" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Geek.Zone Membership Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body class="flex flex-col items-stretch min-h-screen font-sans text-gray-600 dark:text-gray-400 bg-white dark:bg-gray-800" onload="checkDarkMode()">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% if recaptcha_enabled %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LfGd9oZAAAAAEx2_gzbS1cR8X0_IEmPNFG8A9eN"></script>
    {% endif %}

    {% cookiebanner_modal %}
    
    <header class="text-gray-900 dark:text-yellow-300 bg-yellow-300 dark:bg-gray-900">
      <div class="flex flex-wrap justify-between items-center mx-auto py-3 px-4 sm:px-6 max-w-7xl">
        <div class="pr-4 text-3xl sm:text-4xl font-impact">
          <a class="flex gap-2 items-center" href="/" title="Home">
            {% include "inc/logo.html" with add_class="-my-1 h-10 sm:h-12" dark_enabled=1 %}
            <span class="dark:text-yellow-400">Geek.Zone</span>
          </a>
        </div>

        <div class="md:hidden -my-2 -mr-2">
          <button type="button" class="inline-flex justify-center items-center p-2 hover:bg-yellow-200 dark:hover:bg-gray-800 rounded-md focus:ring-2 focus:ring-red-500 focus:outline-none" aria-expanded="false" onClick="toggleHeaderMenu()">
            <span class="sr-only">Open menu</span>

            <svg class="w-6 h-6 stroke-current stroke-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6 h16 M4 12 h16 M4 18 h16" />
            </svg>
          </button>
        </div>

        <nav id="header-nav" class="hidden md:block mt-4 md:mt-0 w-full md:w-max">
          <ul class="flex flex-col md:flex-row items-stretch gap-2">

            <li class="dark:border-red-700">
              <a class="nav-link" href="https://geek.zone/tiki-searchindex.php" target="_blank">Wiki</a>
            </li>

            <div class="self-stretch sm:-mx-2 md:mx-2 border-t-2 md:border-t-0 md:border-r-2 border-yellow-500 dark:border-gray-700" aria-hidden="true"></div> 

            {% if user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'memberships_details' %}">Membership Details</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'memberships_logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
              <a class="nav-link" href="{% url 'memberships_login' %}">Login</a>
            </li>

            <li>
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="flex-grow mx-auto pt-4 pb-1 px-4 sm:px-6 w-full max-w-5xl">
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <div class="flex justify-between items-center mx-auto py-3 px-4 sm:px-6 max-w-5xl">
        <div>
          <span class="inline-block transform scale-x-flip" aria-hidden="true">&copy;</span>
          <span class="sr-only">Copyleft</span>
          Geek.Zone
        </div>
        <button class="btn -mt-4 p-2 rounded-full" onclick="toggleDarkMode()">
          <svg class="w-5 h-5 stroke-current stroke-1" xmlns="http://www.w3.org/2000/svg" fill="none" height=50 viewBox="0 0 20 20" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 2 a8 8 0 0 0 8 12 a8 8 0 1 1 -8 -12" />
          </svg>
          <span class="sr-only">Toggle dark mode</span>
        </button>
      </div>
      <div class="text-white dark:text-gray-400 bg-red-500 dark:bg-gray-900">
        <div class="mx-auto pt-3 px-4 pb-4 sm:pb-3 sm:px-6 max-w-7xl text-sm text-center">
          <p class="mb-3 sm:mb-2">
            The Geek.Zone membership system is currently in beta. Please email your feedback to
            <a class="link text-blue-300" href="mailto:dev@geek.zone">dev@geek.zone</a>
            so that we can improve it!
          </p>
          <p>
            We do use some functional cookies to deliver functionality to you.
            Don't worry, we won't spy on you!
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
