:root {
  /* alternative-yellow: #FFDC00; */
  --yellow: #fff000;
  --page-width: 1280px;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
}
strong, a {
  color: var(--yellow);
}

/* header / navigation styles */
.header-container {
  background: #111111;
}
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: var(--page-width);
  margin: 0 auto;
}
header h1 {
  color: var(--yellow);
  margin: 0;
  padding: .5rem 0 .5rem 1rem;
}

nav ul {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
nav ul a {
  text-decoration: none;
  height: 100%;
  margin-right: 3rem;
}
nav ul a:hover {
  text-decoration: underline;
}
nav ul li:last-child a {
  margin-right: 2rem;
}

/* main content styles */
main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding-left: 1rem;
}

/* footer styles */
footer {
  max-width: var(--page-width);
  margin: 0 auto;
  padding-left: 1rem;
}
