/***** General styles *****/

body {
  --content-width: 1080px;
  --text-spacing: .5rem;

  /* default colors (for light mode) */
  --selection-bg: #FF0000;
  --selection-color: #FFF;
  --a-color: #0033CC;
  --button-bg: #FFFF00;
  --button-bg-hover: #FFED00;
  --button-box-shadow: #555;
  --button-color: #111;
  --input-file-border: #111;
  --helptext-color: #888;
  --header-bg: #FFFF00;
  --header-color: #111;
  --header-a-hover: #FF0000;

  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  background: #FFF;
  color: #555;
}
body.dark-mode {
  /* color changes for dark mode */
  --a-color: #809FFF;
  --button-box-shadow: #000;
  --input-file-border: #000;
  --header-bg: #111;
  --header-color: #FFFF00;

  background: #333;
  color: #AAA;
}

header, main, footer {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 1rem;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-color);
}

a {
  color: var(--a-color);
}

.button {
  margin: 5px 0;
  padding: .5em 1em;
  border: none;
  border-radius: 4px;
  background: var(--button-bg);
  box-shadow: 1px 1px 2px var(--button-box-shadow);
  color: var(--button-color);
}
.button:hover {
  background: var(--button-bg-hover);
  cursor: pointer;
}
.button:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: none;
}

form table {
  max-width: 800px;
}

form th, form td {
  padding-bottom: var(--text-spacing);
  vertical-align: top;
  text-align: left;
}

form th {
  padding-right: var(--text-spacing);
}

form td {
  display: grid;
  grid-template-columns: auto auto 1fr;
}
form td * {
  align-self: start;
}
form td input:not(:only-child) {
  margin-bottom: var(--text-spacing);
  margin-right: var(--text-spacing);
}
form td input[type="checkbox"] {
  margin-left: 0;
}
form td input[type="file"] {
  padding: 2px;
  border: 1px solid var(--input-file-border);
}

form.no-input input {
  border: 0px;
  background: none;
  color: inherit;
  pointer-events: none;
}

.helptext {
  color: var(--helptext-color);
  font-size: .8em;
}
form.no-input .helptext {
  display: none;
}

/***** Header styles *****/

.header-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: var(--header-bg);
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--header-color);
}

header h1 {
  margin: 0;
  padding: .5rem .5rem .5rem 0;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  color: var(--header-a-hover);
}

/***** Navigation styles *****/
nav{

}
nav ul {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  /*justify-content: flex-end;*/
  align-items: center;
  list-style-type: none;
}

nav ul a {
  height: 100%;
  margin-right: 3rem;
}

nav ul li:last-child a {
  margin-right: 2rem;
}

/***** Main styles *****/

main {

}

/***** Footer styles *****/

footer {
  display: grid;
  grid-template-columns: 1fr auto;
}

.register_login{
  display:flex;
  justify-content:center;
  align-content:center;
  margin:20px;
}

.navbar-toggle{
  /* border: solid black 1px; */
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-content: center;
}
div .line{
  background-color: black;
  height:2px;
  width:35px;
  margin:6.5px;
}

@media only screen and (min-width: 992px) {
  nav ul {
    margin-left:30rem;
  }
}
