{% extends 'base.html' %}

{% block content %}
    <!-- List all jobs -->
    <ul role="list" class="divide-y divide-gray-100">
        {% for job in jobs %}
            <li class="flex justify-between gap-x-6 py-5">
                <div class="flex gap-x-4">

                    <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 "><a
                                href="{{ job.get_absolute_url }}">{{ job.title }}</a></p>
                        <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ job.employer_name }}</p>
                    </div>
                </div>

            </li>

            {% empty %}
            <p>No job listings available.</p>
        {% endfor %}

    </ul>
    <!-- Render pagination controls -->

    <div class="flex items-center justify-between border-t border-gray-200 bg-white dark:bg-gray-600 px-4 py-3 sm:px-6 mt-12">

        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">

            <div>
                <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                    {% if jobs.has_previous %}
                        <a href="?page=1"
                           class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Previous</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                      d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </a>
                        <a href="?page={{ jobs.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">previous</a>

                        <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->

                    {% endif %}
                    <span aria-current="page"
                           class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ jobs.number }}</span>
                {% if jobs.has_next %}
                    <a href="?page={{ jobs.next_page_number }}"
                       class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">next</a>

                    <a href="?page={{ jobs.paginator.num_pages }}"
                       class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Next</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                {% endif %}
                </nav>
            </div>
        </div>
    </div>




{% endblock %}
